<article class="c-content c-content--{{ post.type }}">

	<header class="c-content__header">
		<h1 class="c-content__title c-main__title">{{ post.title }}</h1>
	</header>

	<div class="c-content__content c-stack">
		{{ post.content }}
	</div>

</article>
