<article class="c-content c-content--{{ post.type }}">

	<header class="c-content__header c-content__header--{{ post.type }}">
		<h1 class="c-content__title c-main__title">{{ _x('Fehler 404', '404 content title', 'sht') }}</h1>
	</header>

	<div class="c-content__content c-stack">
		<p>{{ _x('Die Seite oder Datei konnte leider nicht gefunden werden.', '404 content text', 'sht') }}</p>
	</div>

</article>
