<section class="c-archiveheader c-archiveheader--year">
	<h1 class="c-archiveheader__title c-main__title"><a href="{{ fn('get_year_link', fn('get_the_time', 'Y')) }}">{{ _x('Beiträge aus %s', 'Year loop header title', 'sht')|format(fn('get_the_time', 'Y')) }}</a></h1>
	{% if fn('get_the_archive_description') is not empty %}
		<div class="c-archiveheader__description">{{ fn('get_the_archive_description') }}</div>
	{% endif %}
</section>
