<section class="c-archiveheader c-archiveheader--search">
	<h1 class="c-archiveheader__title c-main__title"><a href="{{ fn('get_search_link', fn('get_search_query')) }}">{{ _x('Suchergebnisse für «%s»', 'Archive header title', 'sht')|format(fn('get_search_query')) }}</a></h1>
</section>
